<div class="row">
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.nom) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.prenom) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.dateNaissance) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.numeroTelephone) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.roles) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.isVerified) }}
    </div>
</div>